@CHARSET "UTF-8";
#content{
}
#content #chaxundiv{
	padding: 5px;
	background: rgb(200,200,200);
}
#content #chaxundiv ul{
	list-style: none;
}
#content #chaxundiv ul li{
	height: 40px;
	text-align: center;
}
#content #chaxundiv ul li #shangpinxinxi{
	height: 95%;
	width: 100%;
}
#content #chaxundiv ul li #chaxunanniu{
	height: 95%;
	width: 100%;
	
}

/*查询结果*/
#countent #jieguodiv{
	width: 100%;
	height: 70%;
	min-height: 85%;
	background: rgb(58,58,58);
}
#content #jieguodiv table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	table-layout: 0;
	border-collapse:collapse;/*单一边框*/
	cellspacing: 0;
	font-size: 0.5em;
	background: rgb(230,230,230); 
}
#content #jieguodiv table tr{
	height: 20px;
	line-height: 20px;
}
#content #jieguodiv table tr th{
	background: grey;
}
#content #jieguodiv table tr td{
	border-bottom: 1px dashed rgb(180,180,180);
}
#content #jieguodiv table tr td.column_spbh{
	width: 5%;
}
#content #jieguodiv table tr td.column_spmch{
	width: 37%;
	background: lightgrey;
}
#content #jieguodiv table tr td.column_shpgg{
	width: 10%;
}
#content #jieguodiv table tr td.column_dw{
	width: 8%;
	background: lightgrey;
}
#content #jieguodiv table tr td.column_shengccj{
	width: 32%;
}
#content #jieguodiv table tr td.column_lshj{
	width: 10%;
	background: lightgrey;
}
/*页码*/
#content #yema{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: fixed;
	bottom: 50px;
	font-size: 0.8em;
}
#content #yema ul{	
	display: table;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
#content #yema ul li{
	display: inline-block;
	list-style: none;
	margin: 0 0.3em;
}
#content #yema ul li a{
	color: rgb(39,40,34);
	display: block;
}